//mixin
@mixin flex-jcc-atc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-jcs-ats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@mixin flex-jcc-atc-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flex-jcs-ats-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@mixin pseudo-element {
  content: '';
  display: block;
  position: absolute;
}
@mixin over-scroll {
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 2px;
  }
}
